<h1>Get ready to add a new category.</h1>
<form action="/newCategory" method="post">
  <label for="name">Category</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>

<p><a href="/">Return Home</a></p>
