<h1>Add a new ingredient</h1>
<form action="/ingredients/new" method="post">
  <label for="name">Name of your ingredient</label>
  <input id="name" name="name" type="text">
  <button type="submit" name="button">submit</button>
</form>
<p>
  <a href="/">return Home</a>
</p>
