<h1>These are all of the recipes that we have. Happy?</h1>
@if(@Model.Count != 0)
{
  <ul>
    @foreach(var recipe in Model)
    {
      <li><a href="/recipes/@recipe.GetId()">@recipe.GetName()</a></li>
    }
  </ul>
}
else
{
  <p>Happy?</p>
}
<form action="/recipes/clear" method="post">
  <button type="submit">Delete</button>
</form>
<p><a href="/recipes/new">Can't find what you are looking for? Make your own recipe.</a></p>
<p><a href="/">Return Home</a></p>
